# Dependency directories
node_modules/

# Firebase cache
.firebase/

# Firebase config
.runtimeconfig.json

# Environment files
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
